openapi: 3.0.3
info:
  title: NegoRide Canada API
  version: 4.0.0
  description: 'Generated from the Flask route table by scripts/gen_openapi.py. Every response uses the envelope {code: 1|0,
    message, data}. Money is integer cents (CAD) in v4 endpoints; timestamps are ISO-8601 UTC. Detailed payloads: docs/API.md,
    docs/SAFETY.md, docs/PAYMENTS_AND_REFUNDS.md, docs/DRIVER_ONBOARDING.md, docs/TRIP_STATE_MACHINE.md, docs/NOTIFICATIONS.md.'
servers:
- url: https://negoride.ugnews24.info
- url: http://localhost:5001
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Envelope:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          enum:
          - 0
          - 1
        message:
          type: string
        data:
          description: Payload; on errors may contain error_code
paths:
  /api/account/appeal:
    post:
      tags:
      - Account
      summary: appeal
      operationId: account.appeal_post
      description: 'Auth: User JWT.'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
  /api/account/status:
    get:
      tags:
      - Account
      summary: status
      operationId: account.status_get
      description: 'Auth: User JWT.'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/account-status/reasons:
    get:
      tags:
      - Admin
      summary: status reasons
      operationId: admin_identity.status_reasons_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/admin-users:
    get:
      tags:
      - Admin
      summary: admin users
      operationId: admin_identity.admin_users_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/admin-users/{user_id}/roles:
    post:
      tags:
      - Admin
      summary: set roles
      operationId: admin_identity.set_roles_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: &id001
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security: &id002
      - bearerAuth: []
    put:
      tags:
      - Admin
      summary: set roles
      operationId: admin_identity.set_roles_put
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: *id001
      security: *id002
  /api/admin/alerts:
    get:
      tags:
      - Admin
      summary: Latest noteworthy events for the Command Center feed.
      operationId: admin_v4.alerts_feed_get
      description: 'Latest noteworthy events for the Command Center feed.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/analytics:
    get:
      tags:
      - Admin · Reports
      summary: Detailed analytics with time-based stats.
      operationId: admin.analytics_get
      description: 'Detailed analytics with time-based stats.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/analytics/latency:
    get:
      tags:
      - Admin · Reports
      summary: latency
      operationId: admin_experience.latency_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/audit-logs:
    get:
      tags:
      - Admin
      summary: audit logs
      operationId: admin_v4.audit_logs_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/bookings:
    get:
      tags:
      - Admin
      summary: List all scheduled bookings with search and filter.
      operationId: admin.bookings_index_get
      description: 'List all scheduled bookings with search and filter.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/bookings/{booking_id}:
    get:
      tags:
      - Admin
      summary: Get booking detail.
      operationId: admin.bookings_show_get
      description: 'Get booking detail.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: booking_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/bookings/{booking_id}/assign-driver:
    post:
      tags:
      - Admin
      summary: Admin assigns (or reassigns) the driver — same rules as the v4 POST /api/admin/rides/scheduled/{id}/reassign
        (before pickup only, approved active driver, audited, parties notified). A reason is requir
      operationId: admin.bookings_assign_driver_post
      description: 'Admin assigns (or reassigns) the driver — same rules as the v4

        POST /api/admin/rides/scheduled/{id}/reassign (before pickup only, approved

        active driver, audited, parties notified). A reason is required when

        replacing an already-assigned driver.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: booking_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/bookings/{booking_id}/cancel:
    post:
      tags:
      - Admin
      summary: Admin cancels a scheduled booking (state machine + refund policy).
      operationId: admin.bookings_cancel_post
      description: 'Admin cancels a scheduled booking (state machine + refund policy).


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: booking_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/bookings/{booking_id}/mark-paid:
    post:
      tags:
      - Admin
      summary: 'Admin marks a booking paid outside Stripe (cash, e-transfer, comp): records an offline RidePayment (provider
        ''offline'', captured) and confirms the booking through the state machine. Body: {amount_cent'
      operationId: admin.bookings_mark_paid_post
      description: 'Admin marks a booking paid outside Stripe (cash, e-transfer, comp):

        records an offline RidePayment (provider ''offline'', captured) and confirms

        the booking through the state machine. Body: {amount_cents?, reason}.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: booking_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/bookings/{booking_id}/update-status:
    post:
      tags:
      - Admin
      summary: Admin sets a scheduled booking's legacy status through the state machine.
      operationId: admin.bookings_update_status_post
      description: 'Admin sets a scheduled booking''s legacy status through the state machine.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: booking_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/chats:
    get:
      tags:
      - Admin
      summary: List all chat heads.
      operationId: admin.chats_index_get
      description: 'List all chat heads.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/chats/{chat_id}/messages:
    get:
      tags:
      - Admin
      summary: View messages in a chat.
      operationId: admin.chats_messages_get
      description: 'View messages in a chat.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/command-center:
    get:
      tags:
      - Admin
      summary: command center
      operationId: admin_v4.command_center_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/companies:
    get:
      tags:
      - Admin
      summary: List all companies.
      operationId: admin.companies_index_get
      description: 'List all companies.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
    post:
      tags:
      - Admin
      summary: Create a company.
      operationId: admin.companies_create_post
      description: 'Create a company.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
  /api/admin/companies/{company_id}:
    post:
      tags:
      - Admin
      summary: Update a company.
      operationId: admin.companies_update_post
      description: 'Update a company.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: &id003
      - name: company_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security: &id004
      - bearerAuth: []
    put:
      tags:
      - Admin
      summary: Update a company.
      operationId: admin.companies_update_put
      description: 'Update a company.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: *id003
      security: *id004
  /api/admin/companies/{company_id}/delete:
    delete:
      tags:
      - Admin
      summary: Delete a company.
      operationId: admin.companies_delete_delete
      description: 'Delete a company.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: &id005
      - name: company_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security: &id006
      - bearerAuth: []
    post:
      tags:
      - Admin
      summary: Delete a company.
      operationId: admin.companies_delete_post
      description: 'Delete a company.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: *id005
      security: *id006
  /api/admin/dashboard:
    get:
      tags:
      - Admin
      summary: Admin dashboard with comprehensive statistics.
      operationId: admin.dashboard_get
      description: 'Admin dashboard with comprehensive statistics.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/finance/commission:
    get:
      tags:
      - Admin · Finance
      summary: Commission revenue from receipted rides (+ booking fees), by day.
      operationId: admin_finance.commission_get
      description: 'Commission revenue from receipted rides (+ booking fees), by day.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/finance/credit-notes:
    get:
      tags:
      - Admin · Finance
      summary: credit notes list
      operationId: admin_finance.credit_notes_list_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/finance/credit-notes/{cn_id}/pdf:
    get:
      tags:
      - Admin · Finance
      summary: credit note pdf
      operationId: admin_finance.credit_note_pdf_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: cn_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/finance/payments:
    get:
      tags:
      - Admin · Finance
      summary: payments list
      operationId: admin_finance.payments_list_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/finance/payments/summary:
    get:
      tags:
      - Admin · Finance
      summary: payments summary
      operationId: admin_finance.payments_summary_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/finance/payouts:
    get:
      tags:
      - Admin · Finance
      summary: payouts
      operationId: admin_finance.payouts_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/finance/receipts:
    get:
      tags:
      - Admin · Finance
      summary: receipts list
      operationId: admin_finance.receipts_list_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/finance/receipts/{receipt_id}:
    get:
      tags:
      - Admin · Finance
      summary: receipt detail
      operationId: admin_finance.receipt_detail_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: receipt_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/finance/receipts/{receipt_id}/pdf:
    get:
      tags:
      - Admin · Finance
      summary: receipt pdf
      operationId: admin_finance.receipt_pdf_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: receipt_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/finance/receipts/{receipt_id}/resend:
    post:
      tags:
      - Admin · Finance
      summary: receipt resend
      operationId: admin_finance.receipt_resend_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: receipt_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/finance/reconciliation:
    get:
      tags:
      - Admin · Finance
      summary: 'Compare our captured/refunded totals with the payment provider, one payment at a time (bounded page: provider
        calls are made synchronously).'
      operationId: admin_finance.reconciliation_get
      description: 'Compare our captured/refunded totals with the payment provider, one

        payment at a time (bounded page: provider calls are made synchronously).


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/finance/refunds:
    get:
      tags:
      - Admin · Finance
      summary: refunds list
      operationId: admin_finance.refunds_list_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/finance/statements:
    get:
      tags:
      - Admin · Finance
      summary: statements
      operationId: admin_finance.statements_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/finance/statements/{st_id}/pdf:
    get:
      tags:
      - Admin · Finance
      summary: statement pdf
      operationId: admin_finance.statement_pdf_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: st_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/finance/statements/run:
    post:
      tags:
      - Admin · Finance
      summary: statements run
      operationId: admin_finance.statements_run_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
  /api/admin/finance/tax:
    get:
      tags:
      - Admin · Finance
      summary: Tax collected per province and component, net of credit notes.
      operationId: admin_finance.tax_collected_get
      description: 'Tax collected per province and component, net of credit notes.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/finance/tax-rates:
    get:
      tags:
      - Admin · Finance
      summary: tax rates list
      operationId: admin_finance.tax_rates_list_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
    post:
      tags:
      - Admin · Finance
      summary: New effective-dated rate. To change a rate from a date, close the current row (PUT effective_to = day before)
        and create the new one; rows of one province may not overlap.
      operationId: admin_finance.tax_rates_create_post
      description: 'New effective-dated rate. To change a rate from a date, close the current

        row (PUT effective_to = day before) and create the new one; rows of one

        province may not overlap.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
  /api/admin/finance/tax-rates/{rate_id}:
    patch:
      tags:
      - Admin · Finance
      summary: tax rates update
      operationId: admin_finance.tax_rates_update_patch
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: &id007
      - name: rate_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security: &id008
      - bearerAuth: []
    put:
      tags:
      - Admin · Finance
      summary: tax rates update
      operationId: admin_finance.tax_rates_update_put
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: *id007
      security: *id008
  /api/admin/finance/tip-receipts:
    get:
      tags:
      - Admin · Finance
      summary: Tip receipts (NR-TIP-YYYY-NNNNNN) ?q=number&ride_type=&ride_id=&customer_id=&driver_id= (+csv/xlsx).
      operationId: admin_finance.tip_receipts_list_get
      description: 'Tip receipts (NR-TIP-YYYY-NNNNNN) ?q=number&ride_type=&ride_id=&customer_id=&driver_id= (+csv/xlsx).


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/finance/tip-receipts/{tip_receipt_id}/pdf:
    get:
      tags:
      - Admin · Finance
      summary: tip receipt pdf admin
      operationId: admin_finance.tip_receipt_pdf_admin_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: tip_receipt_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/legal/documents:
    get:
      tags:
      - Admin
      summary: legal list
      operationId: admin_identity.legal_list_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
    post:
      tags:
      - Admin
      summary: legal create
      operationId: admin_identity.legal_create_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
  /api/admin/legal/documents/{doc_id}:
    get:
      tags:
      - Admin
      summary: legal get
      operationId: admin_identity.legal_get_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: doc_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
    patch:
      tags:
      - Admin
      summary: legal update
      operationId: admin_identity.legal_update_patch
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: &id009
      - name: doc_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security: &id010
      - bearerAuth: []
    put:
      tags:
      - Admin
      summary: legal update
      operationId: admin_identity.legal_update_put
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: *id009
      security: *id010
  /api/admin/legal/documents/{doc_id}/acceptances:
    get:
      tags:
      - Admin
      summary: legal acceptances
      operationId: admin_identity.legal_acceptances_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: doc_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/legal/documents/{doc_id}/preview:
    get:
      tags:
      - Admin
      summary: legal preview
      operationId: admin_identity.legal_preview_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: &id011
      - name: doc_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security: &id012
      - bearerAuth: []
    post:
      tags:
      - Admin
      summary: legal preview
      operationId: admin_identity.legal_preview_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: *id011
      security: *id012
  /api/admin/legal/documents/{doc_id}/publish:
    post:
      tags:
      - Admin
      summary: legal publish
      operationId: admin_identity.legal_publish_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: doc_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/legal/stats:
    get:
      tags:
      - Admin
      summary: legal stats
      operationId: admin_identity.legal_stats_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/live/drivers:
    get:
      tags:
      - Admin · Live map
      summary: live drivers
      operationId: admin_safety.live_drivers_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/live/rides:
    get:
      tags:
      - Admin · Live map
      summary: 'Admin live map layers besides drivers: unassigned car-hire demand, running rideshare trips and every open
        SOS (customers / ride-less too).'
      operationId: admin_safety.live_rides_get
      description: 'Admin live map layers besides drivers: unassigned car-hire demand,

        running rideshare trips and every open SOS (customers / ride-less too).


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/negotiations:
    get:
      tags:
      - Admin
      summary: List all negotiations with search and filter.
      operationId: admin.negotiations_index_get
      description: 'List all negotiations with search and filter.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/negotiations/{neg_id}:
    get:
      tags:
      - Admin
      summary: Get negotiation detail with records and payment.
      operationId: admin.negotiations_show_get
      description: 'Get negotiation detail with records and payment.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: neg_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/negotiations/{neg_id}/cancel:
    post:
      tags:
      - Admin
      summary: Admin cancels a negotiation (state machine + refund policy + notifications).
      operationId: admin.negotiations_cancel_post
      description: 'Admin cancels a negotiation (state machine + refund policy + notifications).


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: neg_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/negotiations/{neg_id}/update-status:
    post:
      tags:
      - Admin
      summary: Admin sets a negotiation's legacy status. Routed through the v4 state machine (one trip_event per step, actor
        admin, reason required) — never a raw column write. 'Cancelled' applies the §7 cancellatio
      operationId: admin.negotiations_update_status_post
      description: 'Admin sets a negotiation''s legacy status. Routed through the v4 state

        machine (one trip_event per step, actor admin, reason required) — never a

        raw column write. ''Cancelled'' applies the §7 cancellation policy.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: neg_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/notifications:
    get:
      tags:
      - Admin
      summary: notifications log
      operationId: admin_v4.notifications_log_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/notifications/broadcast:
    post:
      tags:
      - Admin
      summary: Compose a broadcast segmented by role (customers/drivers/all) and city/province.
      operationId: admin_v4.broadcast_post
      description: 'Compose a broadcast segmented by role (customers/drivers/all) and city/province.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
  /api/admin/notifications/stats:
    get:
      tags:
      - Admin
      summary: notifications stats
      operationId: admin_v4.notifications_stats_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/notifications/templates:
    get:
      tags:
      - Admin
      summary: 'The notification catalogue: copy in EN/FR, channels, groups, plus any admin overrides (PUT/DELETE /api/admin/notifications/templates/{event_key}).'
      operationId: admin_v4.notification_templates_get
      description: 'The notification catalogue: copy in EN/FR, channels, groups, plus any admin

        overrides (PUT/DELETE /api/admin/notifications/templates/{event_key}).


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/notifications/templates/{event_key}:
    get:
      tags:
      - Admin
      summary: notification template get
      operationId: admin_v4.notification_template_get_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: event_key
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
    put:
      tags:
      - Admin
      summary: 'Override the copy of one event {lang: en|fr, title?, body?} (Jinja2, the same variables as the catalogue).
        Empty fields fall back to the default.'
      operationId: admin_v4.notification_template_put_put
      description: 'Override the copy of one event {lang: en|fr, title?, body?} (Jinja2, the

        same variables as the catalogue). Empty fields fall back to the default.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: event_key
        in: path
        required: true
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
    delete:
      tags:
      - Admin
      summary: Remove the override (?lang=en|fr, default both) — back to the catalogue copy.
      operationId: admin_v4.notification_template_delete_delete
      description: 'Remove the override (?lang=en|fr, default both) — back to the catalogue copy.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: event_key
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/notifications/templates/{event_key}/preview:
    post:
      tags:
      - Admin
      summary: Render {lang, title?, body?, context?} (unsaved draft or the effective template) with sample context — nothing
        is sent.
      operationId: admin_v4.notification_template_preview_post
      description: 'Render {lang, title?, body?, context?} (unsaved draft or the effective

        template) with sample context — nothing is sent.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: event_key
        in: path
        required: true
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/onboarding/applications:
    get:
      tags:
      - Admin
      summary: applications
      operationId: admin_identity.applications_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/onboarding/applications/{app_id}:
    get:
      tags:
      - Admin
      summary: application detail
      operationId: admin_identity.application_detail_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/onboarding/applications/{app_id}/decision:
    post:
      tags:
      - Admin
      summary: application decision
      operationId: admin_identity.application_decision_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/onboarding/background-checks/{bgc_id}/adjudicate:
    post:
      tags:
      - Admin
      summary: bgc adjudicate
      operationId: admin_identity.bgc_adjudicate_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: bgc_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/onboarding/background-checks/{bgc_id}/refresh:
    post:
      tags:
      - Admin
      summary: bgc refresh
      operationId: admin_identity.bgc_refresh_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: bgc_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/onboarding/background-checks/{bgc_id}/report:
    get:
      tags:
      - Admin
      summary: bgc report
      operationId: admin_identity.bgc_report_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: bgc_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/onboarding/documents/{doc_id}/file:
    get:
      tags:
      - Admin
      summary: Signed short-lived URL (default) or the bytes (?inline=1). Audited.
      operationId: admin_identity.document_file_get
      description: 'Signed short-lived URL (default) or the bytes (?inline=1). Audited.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: doc_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/onboarding/documents/{doc_id}/review:
    post:
      tags:
      - Admin
      summary: document review
      operationId: admin_identity.document_review_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: doc_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/onboarding/funnel:
    get:
      tags:
      - Admin
      summary: onboarding funnel
      operationId: admin_identity.onboarding_funnel_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/payments:
    get:
      tags:
      - Admin
      summary: List all payments with search and filter.
      operationId: admin.payments_index_get
      description: 'List all payments with search and filter.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/payments/{payment_id}:
    get:
      tags:
      - Admin
      summary: Get payment detail.
      operationId: admin.payments_show_get
      description: 'Get payment detail.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: payment_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/payout-requests:
    get:
      tags:
      - Admin
      summary: List all payout requests.
      operationId: admin.payout_requests_index_get
      description: 'List all payout requests.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/payout-requests/{payout_id}/approve:
    post:
      tags:
      - Admin
      summary: Admin approves a payout request.
      operationId: admin.payout_approve_post
      description: 'Admin approves a payout request.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: payout_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/payout-requests/{payout_id}/complete:
    post:
      tags:
      - Admin
      summary: 'Admin completes a payout: transfers the net amount to the driver''s Stripe Connect account (money actually
        leaves the platform balance).'
      operationId: admin.payout_complete_post
      description: 'Admin completes a payout: transfers the net amount to the driver''s Stripe

        Connect account (money actually leaves the platform balance).


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: payout_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/payout-requests/{payout_id}/reject:
    post:
      tags:
      - Admin
      summary: Admin rejects a payout request and refunds the reserved funds.
      operationId: admin.payout_reject_post
      description: 'Admin rejects a payout request and refunds the reserved funds.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: payout_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/ratings:
    get:
      tags:
      - Admin · Ratings
      summary: ratings explorer
      operationId: admin_experience.ratings_explorer_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/ratings/{rating_id}/hide:
    post:
      tags:
      - Admin · Ratings
      summary: hide rating
      operationId: admin_experience.hide_rating_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: rating_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/ratings/{rating_id}/unhide:
    post:
      tags:
      - Admin · Ratings
      summary: unhide rating
      operationId: admin_experience.unhide_rating_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: rating_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/ratings/lowest-drivers:
    get:
      tags:
      - Admin · Ratings
      summary: lowest drivers
      operationId: admin_experience.lowest_drivers_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/ratings/trend-alerts:
    get:
      tags:
      - Admin · Ratings
      summary: trend alerts
      operationId: admin_experience.trend_alerts_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/readiness:
    get:
      tags:
      - Admin
      summary: Launch blockers / warnings (configuration only, no vendor calls).
      operationId: admin_v4.readiness_get
      description: 'Launch blockers / warnings (configuration only, no vendor calls).


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/receipts/{receipt_id}/resend:
    post:
      tags:
      - Admin · Finance
      summary: receipt resend
      operationId: admin_finance.receipt_resend_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: receipt_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/refunds:
    get:
      tags:
      - Admin
      summary: refunds
      operationId: admin_v4.refunds_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/reports/cohorts:
    get:
      tags:
      - Admin · Reports
      summary: cohorts
      operationId: admin_experience.cohorts_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/reports/demand-heatmap:
    get:
      tags:
      - Admin · Reports
      summary: demand heatmap
      operationId: admin_experience.demand_heatmap_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/reports/earnings-distribution:
    get:
      tags:
      - Admin · Reports
      summary: earnings
      operationId: admin_experience.earnings_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/reports/negotiations:
    get:
      tags:
      - Admin · Reports
      summary: negotiations report
      operationId: admin_experience.negotiations_report_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/reports/supply-demand:
    get:
      tags:
      - Admin · Reports
      summary: supply demand
      operationId: admin_experience.supply_demand_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/revenue-chart:
    get:
      tags:
      - Admin
      summary: Revenue data grouped by day for charts.
      operationId: admin.revenue_chart_get
      description: 'Revenue data grouped by day for charts.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/ride-payments:
    get:
      tags:
      - Admin
      summary: ride payments
      operationId: admin_v4.ride_payments_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/ride-payments/{rp_id}/refund:
    post:
      tags:
      - Admin
      summary: ride payment refund
      operationId: admin_v4.ride_payment_refund_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: rp_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/rides:
    get:
      tags:
      - Admin
      summary: rides list
      operationId: admin_v4.rides_list_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/rides/{ride_type}/{ride_id}:
    get:
      tags:
      - Admin
      summary: ride detail
      operationId: admin_v4.ride_detail_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: ride_type
        in: path
        required: true
        schema:
          type: string
      - name: ride_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/rides/{ride_type}/{ride_id}/cancel:
    post:
      tags:
      - Admin
      summary: ride cancel
      operationId: admin_v4.ride_cancel_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: ride_type
        in: path
        required: true
        schema:
          type: string
      - name: ride_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/rides/{ride_type}/{ride_id}/chat:
    get:
      tags:
      - Admin
      summary: In-app chat between the ride's parties during the ride window. Only available when the ride is disputed or
        has a safety incident (privacy); every view is audited.
      operationId: admin_v4.ride_chat_log_get
      description: 'In-app chat between the ride''s parties during the ride window. Only

        available when the ride is disputed or has a safety incident (privacy);

        every view is audited.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: ride_type
        in: path
        required: true
        schema:
          type: string
      - name: ride_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/rides/{ride_type}/{ride_id}/reassign:
    post:
      tags:
      - Admin
      summary: Reassign the driver before pickup (car hire / scheduled). Reason required, audited, both drivers and the customer
        are notified in realtime.
      operationId: admin_v4.ride_reassign_post
      description: 'Reassign the driver before pickup (car hire / scheduled). Reason required,

        audited, both drivers and the customer are notified in realtime.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: ride_type
        in: path
        required: true
        schema:
          type: string
      - name: ride_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/rides/{ride_type}/{ride_id}/receipt/issue:
    post:
      tags:
      - Admin
      summary: Issue (and email) the receipt of a completed, paid ride now — for rides the sweeper would pick up anyway, or
        after fixing a capture. Runs as a job (202); returns the receipt when it already exists / w
      operationId: admin_v4.ride_issue_receipt_post
      description: 'Issue (and email) the receipt of a completed, paid ride now — for rides

        the sweeper would pick up anyway, or after fixing a capture. Runs as a job

        (202); returns the receipt when it already exists / was issued.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: ride_type
        in: path
        required: true
        schema:
          type: string
      - name: ride_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/rides/{ride_type}/{ride_id}/route:
    get:
      tags:
      - Admin
      summary: ride route
      operationId: admin_safety.ride_route_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: ride_type
        in: path
        required: true
        schema:
          type: string
      - name: ride_id
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/rides/{ride_type}/{ride_id}/settle-safety:
    post:
      tags:
      - Admin
      summary: 'Decide a safety-ended ride''s payment (§7.1): charge `amount_cents` (pro-rated, 0 = nothing) and release/refund
        the rest. {amount_cents, reason}.'
      operationId: admin_v4.ride_settle_safety_post
      description: 'Decide a safety-ended ride''s payment (§7.1): charge `amount_cents`

        (pro-rated, 0 = nothing) and release/refund the rest. {amount_cents, reason}.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: ride_type
        in: path
        required: true
        schema:
          type: string
      - name: ride_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/rides/{ride_type}/{ride_id}/transition:
    post:
      tags:
      - Admin
      summary: ride transition
      operationId: admin_v4.ride_transition_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: ride_type
        in: path
        required: true
        schema:
          type: string
      - name: ride_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerAuth: []
  /api/admin/route-stages:
    get:
      tags:
      - Admin
      summary: List all route stages.
      operationId: admin.route_stages_index_get
      description: 'List all route stages.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
    post:
      tags:
      - Admin
      summary: Create a route stage.
      operationId: admin.route_stages_create_post
      description: 'Create a route stage.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
  /api/admin/route-stages/{stage_id}:
    post:
      tags:
      - Admin
      summary: Update a route stage.
      operationId: admin.route_stages_update_post
      description: 'Update a route stage.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: &id013
      - name: stage_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security: &id014
      - bearerAuth: []
    put:
      tags:
      - Admin
      summary: Update a route stage.
      operationId: admin.route_stages_update_put
      description: 'Update a route stage.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: *id013
      security: *id014
  /api/admin/route-stages/{stage_id}/delete:
    delete:
      tags:
      - Admin
      summary: Delete a route stage.
      operationId: admin.route_stages_delete_delete
      description: 'Delete a route stage.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: &id015
      - name: stage_id
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security: &id016
      - bearerAuth: []
    post:
      tags:
      - Admin
      summary: Delete a route stage.
      operationId: admin.route_stages_delete_post
      description: 'Delete a route stage.


        Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: *id015
      security: *id016
  /api/admin/safety/checks:
    get:
      tags:
      - Admin · Safety
      summary: checks
      operationId: admin_safety.checks_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
  /api/admin/safety/help-contacts:
    get:
      tags:
      - Admin · Safety
      summary: hc list
      operationId: admin_safety.hc_list_get
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
    post:
      tags:
      - Admin · Safety
      summary: hc create
      operationId: admin_safety.hc_create_post
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
  /api/admin/safety/help-contacts/{hid}:
    patch:
      tags:
      - Admin · Safety
      summary: hc update
      operationId: admin_safety.hc_update_patch
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: &id017
      - name: hid
        in: path
        required: true
        schema:
          type: integer
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
      security: &id018
      - bearerAuth: []
    put:
      tags:
      - Admin · Safety
      summary: hc update
      operationId: admin_safety.hc_update_put
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters: *id017
      security: *id018
    delete:
      tags:
      - Admin · Safety
      summary: hc delete
      operationId: admin_safety.hc_delete_delete
      description: 'Auth: Admin (role-based).'
      responses:
        '200':
          description: Envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        4XX:
          description: Error envelope (code 0, data.error_code)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      parameters:
      - name: hid
        in: path
        required: true
        schema:
          type: integer
      security:
      - bearerAuth: []
  /api/admin/safety/incidents:
    get:
      tags:
      - Admin · Safety
      summary: incidents
      operationId: admin_safety.incidents_get
[...]
